# MongoDB 101

<img src="https://cdn.meme.am/images/11599433.jpg" alt="Title" style="width:350px"/>

## Welcome to MongoDB 101! Let's take a look at what we need to do today.
#### Step 1
* Log into https://mlab.com/ and create an account
* Create database within your account
* Create two users. One with read-only permissions. One without read-only permissions
* Follow the instructions below when you are ready

In [4]:
from pymongo import MongoClient

#This is the client. Replace my (username) and (password) with your non-readonly username and password
client = MongoClient("mongodb://admin:admin@ds143707.mlab.com:43707/shsiao_sandbox")
#We get the database here. Don't forget to change the db name to your database name!
db = client.shsiao_sandbox

## Navigate to wikipedia and pull down a table of your choice. Here is a sample of what I did to pull down the Harrison Ford movies table to help you out.

In [7]:
import urllib2
from bs4 import BeautifulSoup
import json
import pandas as pd

#soup = BeautifulSoup(urllib2.urlopen('https://en.wikipedia.org/wiki/Harrison_Ford_filmography').read())
#tables = soup.find_all('table', class_="wikitable")
#listy = []
#for idx, table in enumerate(tables):
#    if idx == 0:
#        for idx2, row in enumerate(table.find_all('tr')):
#            datay = row.find_all('td')
#            if len(datay) > 3:
#                listy += [{'0':datay[0].text,'1':datay[1].text,'2':datay[2].text}]                
#ford_movies = pd.DataFrame(listy)
#print ford_movies.head()

In [21]:
soup = BeautifulSoup(urllib2.urlopen('https://en.wikipedia.org/wiki/List_of_largest_Internet_companies').read())

tables = soup.find_all('table', class_="wikitable")
listy = []
for idx, table in enumerate(tables):
    if idx > 0:
        for idx2, row in enumerate(table.find_all('tr')):
            datay = row.find_all('td')
            if len(datay) >= 3:
                listy += [{'Rank':datay[0].text,'Company':datay[2].text, 'Revenue':datay[4].text, 'Employees':datay[6].text, 'MarketCap':datay[7].text}]                


IC = pd.DataFrame(listy)

IC.head()

    Company Employees MarketCap Rank Revenue
0    Amazon   268,900    $329.7    1    $107
1    Google    61,814    $493.2    2  $74.98
2  Facebook    12,691    $332.1    3  $17.93
3   Tencent    25,517    $194.4    4  $15.84
4   Alibaba    26,000    $204.8    5  $12.29

## Now it's time to make our new mongodb document! Let's insert our wiki table's values into it.

In [24]:
#Creating a new table with the name table_name here
TopCompanies = db.TopCompanies
#This removes everything from the table. Works on the same principle as find
TopCompanies.delete_many({})

#To insert, just pass in the values one at a time
for x in listy:
    TopCompanies.insert_one(x)

In [26]:
df = pd.DataFrame(listy)
df

,Company,Employees,MarketCap,Rank,Revenue,_id
0,Amazon,"268,900",$329.7,1,$107,581b9622ada5b9231c6d416e
1,Google,"61,814",$493.2,2,$74.98,581b9622ada5b9231c6d416f
2,Facebook,"12,691",$332.1,3,$17.93,581b9622ada5b9231c6d4170
3,Tencent,"25,517",$194.4,4,$15.84,581b9622ada5b9231c6d4171
4,Alibaba,"26,000",$204.8,5,$12.29,581b9622ada5b9231c6d4172
5,Baidu,"41,467",$62.27,6,$10.56,581b9622ada5b9231c6d4173
6,Priceline Group,"9,000",$63.83,7,$9.22,581b9622ada5b9231c6d4174
7,eBay,"34,600",$26.98,8,$8.59,581b9622ada5b9231c6d4175
8,Netflix,"3,500",$41.89,9,$6.77,581b9623ada5b9231c6d4176
9,"Expedia,Inc.","18,000",$16.61,10,$6.67,581b9623ada5b9231c6d4177
10,Rakuten,"12,981",$13.06,11,$6.3,581b9623ada5b9231c6d4178
11,Salesforce.com,"16,227",$47.89,12,$5.37,581b9623ada5b9231c6d4179
12,Yahoo,"12,500",$36.34,13,$4.97,581b9624ada5b9231c6d417a
13,ODIGEO,"1,700",$0.22,14,$4.9,581b9624ada5b9231c6d417b
14,NetEase,"12,919",$22.65,15,$3.63,581b9624ada5b9231c6d417c
15,Zalando,"10,000",$8.7,16,$3.28,581b9624ada5b9231c6d417d
16,Groupon,"10,000",$1.96,17,$3.1,581b9624ada5b9231c6d417e
17,LinkedIn,"8,735",$17.48,18,$2.99,581b9624ada5b9231c6d417f
18,Twitter,"3,638",$10.20,19,$2.22,581b9624ada5b9231c6d4180
19,Naver Corporation,"2,501",$16.15,20,$2.2,581b9624ada5b9231c6d4181
20,Cimpress,"8,000",$2.7,21,$1.78,581b9624ada5b9231c6d4182
21,TripAdvisor,"2,793",$8.55,22,$1.5,581b9625ada5b9231c6d4183
22,flipkart,"35,000",$9.39,23,$1.5,581b9625ada5b9231c6d4184
23,ASOS.com,"7,500",$4.8,24,$1.40,581b9625ada5b9231c6d4185
24,Yandex,"5,514",$6.15,25,$0.9,581b9625ada5b9231c6d4186

## Awesome! Now find the read-only user in your mongolab account. You are going to be passing this to your partner in the class. Don't be shy. Everyone has to do it.

In [6]:
# Pass your string to another student. 
# Don't forget to change the username and password to your other user's username and password!
# Here is a reminder of what that string looks like
# "mongodb://(username):(password)@ds063946.mlab.com:63946/(database_name)"

## Open the database you received from your partner. What is the data telling you? What kind of job roles would you imagine dealing with this data?

## Was the data cleaned before you got it? Is information missing that might keep you from figuring out what the data represents?

## Do some exploratory data analysis on the table. Did you find anything surprising?

## Come up with three solvable questions to ask your partner regarding his data. Each should test your knowledge of regular expressions and mongodb. Feel free to look up new ways to do things. Put the questions and the answers to those questions here.

## Solve the questions your partner gave to you. This is for helping you to get more acquianted with these concepts, so try not to give away your answers.

## Try inserting a document into your partner's database. What happens? Why do you think that is?