# MongoDB Lesson

In [1]:
#pip install pymongo
#pip install requests

In [2]:
from pymongo import MongoClient

def printTables(db):
    collection = db.collection_names(include_system_collections=False)
    for collect in collection:
        print collect

#This is the client
client = MongoClient("mongodb://guest:abc123@ds063946.mlab.com:63946/class_sample")
#We get the database here
db = client.class_sample

#Let's print out our database's tables...
printTables(db)

j_beans
clue_suspects
ff_table
test
movies
html
comments

## Cool! It looks like we have a few tables in our db. Let's look at the j_beans table first

<img src="http://farm8.staticflickr.com/7361/12243478293_88eb8dabed.jpg" alt="Title"/>

In [3]:
# fyi, this isn't actually when these flavors were created. The dates are made up
# Let's pull our table into an object called a cursor
j_beans = db.j_beans

# J_beans isn't actually an object you can work with right away. 
# You have to make queries first. Let's find out what's inside...
for j_bean in j_beans.find({})[:5]:
    print j_bean

{u'flavor': u'7 Up', u'_id': ObjectId('580cefb3ce4eb04968b448a6'), u'created': datetime.datetime(1996, 2, 21, 5, 39, 26)}
{u'flavor': u' A&W Cream Soda', u'_id': ObjectId('580cefb3ce4eb04968b448a7'), u'created': datetime.datetime(1980, 8, 22, 14, 52, 24)}
{u'flavor': u' A&W Root Beer', u'_id': ObjectId('580cefb3ce4eb04968b448a8'), u'created': datetime.datetime(2010, 4, 6, 11, 53, 9)}
{u'flavor': u' Berry Blue', u'_id': ObjectId('580cefb3ce4eb04968b448a9'), u'created': datetime.datetime(2014, 1, 28, 21, 31, 28)}
{u'flavor': u' Birthday Cake', u'_id': ObjectId('580cefb3ce4eb04968b448aa'), u'created': datetime.datetime(2004, 11, 8, 0, 33, 46)}

In [151]:
# I like Tutti-Fruitti. I wonder when that flavor was created
for j_bean in j_beans.find({'flavor':' Tutti-Fruitti'}):
    print j_bean

{u'flavor': u' Tutti-Fruitti', u'_id': ObjectId('580cefb8ce4eb04968b448dd'), u'created': datetime.datetime(1980, 2, 15, 16, 18, 22)}

In [17]:
import datetime
# Let's find all the flavors created after tutti-fruitti
for j_bean in j_beans.find({'created': {'$gt' : datetime.datetime(1980, 2, 15, 16, 18, 22)} })[:5]:
    print j_bean

{u'flavor': u'7 Up', u'_id': ObjectId('580cefb3ce4eb04968b448a6'), u'created': datetime.datetime(1996, 2, 21, 5, 39, 26)}
{u'flavor': u' A&W Cream Soda', u'_id': ObjectId('580cefb3ce4eb04968b448a7'), u'created': datetime.datetime(1980, 8, 22, 14, 52, 24)}
{u'flavor': u' A&W Root Beer', u'_id': ObjectId('580cefb3ce4eb04968b448a8'), u'created': datetime.datetime(2010, 4, 6, 11, 53, 9)}
{u'flavor': u' Berry Blue', u'_id': ObjectId('580cefb3ce4eb04968b448a9'), u'created': datetime.datetime(2014, 1, 28, 21, 31, 28)}
{u'flavor': u' Birthday Cake', u'_id': ObjectId('580cefb3ce4eb04968b448aa'), u'created': datetime.datetime(2004, 11, 8, 0, 33, 46)}

In [19]:
# What about all the flavors created before tutti-fruitti?
for j_bean in j_beans.find({'created': {'$lt' : datetime.datetime(1980, 2, 15, 16, 18, 22)} })[:5]:
    print j_bean

{u'flavor': u' Dr Pepper', u'_id': ObjectId('580cefb5ce4eb04968b448b9'), u'created': datetime.datetime(1979, 11, 25, 15, 26, 17)}
{u'flavor': u' Orange Sherbet', u'_id': ObjectId('580cefb6ce4eb04968b448ca'), u'created': datetime.datetime(1979, 9, 4, 9, 21, 1)}
{u'flavor': u' Sizzling Cinnamon', u'_id': ObjectId('580cefb7ce4eb04968b448d3'), u'created': datetime.datetime(1979, 7, 13, 14, 13, 56)}
{u'flavor': u' Watermelon', u'_id': ObjectId('580cefb8ce4eb04968b448df'), u'created': datetime.datetime(1979, 3, 3, 8, 48, 3)}

In [146]:
# What flavors have A&W in them?
for j_bean in j_beans.find({'flavor': {'$regex' : '\w*A&W\w*'}}):
    print j_bean

{u'flavor': u' A&W Cream Soda', u'_id': ObjectId('580cefb3ce4eb04968b448a7'), u'created': datetime.datetime(1980, 8, 22, 14, 52, 24)}
{u'flavor': u' A&W Root Beer', u'_id': ObjectId('580cefb3ce4eb04968b448a8'), u'created': datetime.datetime(2010, 4, 6, 11, 53, 9)}

In [44]:
# Hmmmm.... It looks like all that regular expression stuff we learned in the morning is going to be useful after all...
# Let's find all the two word flavors
for j_bean in j_beans.find({'flavor': {'$regex' : '^\W*\w+\s{1}\w+\W*$'}})[:5]:
    print j_bean

{u'flavor': u'7 Up', u'_id': ObjectId('580cefb3ce4eb04968b448a6'), u'created': datetime.datetime(1996, 2, 21, 5, 39, 26)}
{u'flavor': u' Berry Blue', u'_id': ObjectId('580cefb3ce4eb04968b448a9'), u'created': datetime.datetime(2014, 1, 28, 21, 31, 28)}
{u'flavor': u' Birthday Cake', u'_id': ObjectId('580cefb3ce4eb04968b448aa'), u'created': datetime.datetime(2004, 11, 8, 0, 33, 46)}
{u'flavor': u' Bubble Gum', u'_id': ObjectId('580cefb4ce4eb04968b448ac'), u'created': datetime.datetime(2006, 1, 11, 21, 54, 45)}
{u'flavor': u' Buttered Popcorn', u'_id': ObjectId('580cefb4ce4eb04968b448ad'), u'created': datetime.datetime(1995, 1, 12, 12, 44, 19)}

In [47]:
# Let's find all the three word flavors. Notice how we are multiplying our regex to make things easier for us
for j_bean in j_beans.find({'flavor': {'$regex' : '^\W*(\w+\s{1}){2}\w+\W*$'}})[:5]:
    print j_bean

{u'flavor': u' Mixed Berry Smoothie', u'_id': ObjectId('580cefb6ce4eb04968b448c7'), u'created': datetime.datetime(2008, 5, 9, 21, 23, 51)}
{u'flavor': u' Strawberry Banana Smoothie', u'_id': ObjectId('580cefb7ce4eb04968b448d5'), u'created': datetime.datetime(2012, 12, 25, 8, 40, 26)}

In [50]:
# How about a sort? Let's sort our j_beans table by created descending (recent first)
for j_bean in j_beans.find({}).sort('created', -1)[:5]:
    print j_bean

{u'flavor': u' Orange', u'_id': ObjectId('580cefb6ce4eb04968b448c8'), u'created': datetime.datetime(2016, 3, 3, 11, 56, 35)}
{u'flavor': u' Very Cherry', u'_id': ObjectId('580cefb8ce4eb04968b448de'), u'created': datetime.datetime(2015, 1, 4, 13, 46, 51)}
{u'flavor': u' Pancakes & Maple Syrup', u'_id': ObjectId('580cefb7ce4eb04968b448cb'), u'created': datetime.datetime(2014, 11, 4, 5, 0, 56)}
{u'flavor': u' Berry Blue', u'_id': ObjectId('580cefb3ce4eb04968b448a9'), u'created': datetime.datetime(2014, 1, 28, 21, 31, 28)}
{u'flavor': u' Strawberry Banana Smoothie', u'_id': ObjectId('580cefb7ce4eb04968b448d5'), u'created': datetime.datetime(2012, 12, 25, 8, 40, 26)}

In [54]:
# Let's just get the first document with the word pancake in it. We can do that with find_one
print j_beans.find_one({'flavor': {'$regex' : '\w*Pancake\w*'}})

{u'flavor': u' Pancakes & Maple Syrup', u'_id': ObjectId('580cefb7ce4eb04968b448cb'), u'created': datetime.datetime(2014, 11, 4, 5, 0, 56)}

In [59]:
import pandas as pd
# I wonder how easy mongodb is to put into a dataframe...
jelly_df = pd.DataFrame([x for x in j_beans.find({})])
#That's not super hard at all...
jelly_df.head()

                        _id             created           flavor
0  580cefb3ce4eb04968b448a6 1996-02-21 05:39:26             7 Up
1  580cefb3ce4eb04968b448a7 1980-08-22 14:52:24   A&W Cream Soda
2  580cefb3ce4eb04968b448a8 2010-04-06 11:53:09    A&W Root Beer
3  580cefb3ce4eb04968b448a9 2014-01-28 21:31:28       Berry Blue
4  580cefb3ce4eb04968b448aa 2004-11-08 00:33:46    Birthday Cake

## Now you try! Take a look at the next database, movies. What does the data represent?

In [68]:
movies = db.movies

# I wonder how easy mongodb is to put into a dataframe...
movies_df = pd.DataFrame([x for x in movies.find({})])

movies_df.columns = ['year','movie','role','id']

#That's not super hard at all...
movies_df

,year,movie,role,id
0,1966,Dead Heat on a Merry-Go-Round,Bellhop,580c8045ce4eb04968b446e1
1,1967,Luv,Irate Motorist,580c8046ce4eb04968b446e2
2,1967,"Time for Killing, AA Time for Killing",Lt. Shaffer,580c8046ce4eb04968b446e3
3,1968,Journey to Shiloh,Willie Bill Bearden,580c8046ce4eb04968b446e4
4,1970,Zabriskie Point,Airport Worker,580c8046ce4eb04968b446e5
5,1970,Getting Straight,Jake,580c8047ce4eb04968b446e6
6,1973,American Graffiti,Bob Falfa,580c8047ce4eb04968b446e7
7,1974,"Conversation, TheThe Conversation",Martin Stett,580c8047ce4eb04968b446e8
8,1977,Star Wars,Han Solo,580c8047ce4eb04968b446e9
9,1977,Heroes,Ken Boyd,580c8047ce4eb04968b446ea
10,1978,Force 10 from Navarone,Lieutenant Colonel Mike Barnsby,580c8047ce4eb04968b446eb
11,1979,Apocalypse Now,Colonel Lucas,580c8047ce4eb04968b446ec
12,1979,Hanover Street,David Halloran,580c8047ce4eb04968b446ed
13,1979,"Frisco Kid, TheThe Frisco Kid",Tommy Lillard,580c8047ce4eb04968b446ee
14,1979,More American Graffiti,Bob Falfa,580c8048ce4eb04968b446ef
15,1980,The Empire Strikes Back,Han Solo,580c8048ce4eb04968b446f0
16,1981,Raiders of the Lost Ark,"Dr. Henry ""Indiana"" Jones, Jr",580c8048ce4eb04968b446f1
17,1982,E.T. the Extra-Terrestrial,School Principal,580c8048ce4eb04968b446f2
18,1982,Blade Runner,Rick Deckard,580c8048ce4eb04968b446f3
19,1983,Return of the Jedi,Han Solo,580c8048ce4eb04968b446f4
20,1984,Indiana Jones and the Temple of Doom,"Dr. Henry ""Indiana"" Jones, Jr",580c8048ce4eb04968b446f5
21,1985,Witness,Det. Capt. John Book,580c8048ce4eb04968b446f6
22,1986,"Mosquito Coast, TheThe Mosquito Coast",Allie Fox,580c8048ce4eb04968b446f7
23,1988,Frantic,Dr. Richard Walker,580c8048ce4eb04968b446f8
24,1988,Working Girl,Jack Trainer,580c8049ce4eb04968b446f9
25,1989,Indiana Jones and the Last Crusade,"Dr. Henry ""Indiana"" Jones, Jr",580c8049ce4eb04968b446fa
26,1990,Presumed Innocent,Rusty Sabich,580c8049ce4eb04968b446fb
27,1991,Regarding Henry,Henry Turner,580c8049ce4eb04968b446fc
28,1992,Patriot Games,Jack Ryan,580c8049ce4eb04968b446fd
29,1993,"Fugitive, TheThe Fugitive",Dr. Richard David Kimble,580c8049ce4eb04968b446fe
30,1994,Jimmy Hollywood,Himself,580c8049ce4eb04968b446ff
31,1994,Clear and Present Danger,Jack Ryan,580c8049ce4eb04968b44700
32,1995,Sabrina,Linus Larabee,580c8049ce4eb04968b44701
33,1997,"Devil's Own, TheThe Devil's Own",Tom O'Meara,580c804ace4eb04968b44702
34,1997,Air Force One,President James Marshall,580c804ace4eb04968b44703
35,1998,"Six Days, Seven Nights",Quinn Harris,580c804ace4eb04968b44704
36,1999,Random Hearts,Sergeant William 'Dutch' Van Den Broeck,580c804ace4eb04968b44705
37,2000,What Lies Beneath,Dr. Norman Spencer,580c804ace4eb04968b44706
38,2002,K-19: The Widowmaker,Alexei Vostrikov,580c804ace4eb04968b44707
39,2003,Hollywood Homicide,Sgt. Joe Gavilan,580c804ace4eb04968b44708
40,2004,Water to Wine,Jethro the Bus Driver,580c804ace4eb04968b44709
41,2006,Firewall,Jack Stanfield,580c804ace4eb04968b4470a
42,2008,Indiana Jones and the Kingdom of the Crystal S...,"Dr. Henry ""Indiana"" Jones, Jr",580c804ace4eb04968b4470b
43,2008,Dalai Lama Renaissance,Narrator,580c804bce4eb04968b4470c
44,2009,Crossing Over,Max Brogan,580c804bce4eb04968b4470d
45,2009,Brüno,Himself,580c804bce4eb04968b4470e
46,2010,Extraordinary Measures,Dr. Robert Stonehill,580c804bce4eb04968b4470f
47,2010,Morning Glory,Mike Pomeroy,580c804bce4eb04968b44710
48,2011,Cowboys & Aliens,Colonel Dolarhyde,580c804bce4eb04968b44711
49,2013,42,Branch Rickey,580c804bce4eb04968b44712
50,2013,Paranoia,Jock Goddard,580c804bce4eb04968b44713
51,2013,Ender's Game,Colonel Hyrum Graff,580c804bce4eb04968b44714
52,2013,Anchorman 2: The Legend Continues,Mack Tannen,580c804cce4eb04968b44715
53,2014,The Expendables 3,Max Drummer,580c804cce4eb04968b44716
54,2014,Flying The Feathered Edge: The Bob Hoover Project,Himself,580c804cce4eb04968b44717
55,2015,The Age of Adaline,William Jones,580c804cce4eb04968b44718
56,2015,Star Wars: The Force Awakens,Han Solo,580c804cce4eb04968b44719
57,2017,Blade Runner 2049,Rick Deckard,580c804cce4eb04968b4471a

In [67]:
# How many sequels has Harrison Ford acted in?
print sum([x - 1 for x in movies_df['role'].value_counts().values])

11

In [111]:
import re

# How many of Harrison Ford's movies have the words anchorman and legend in them?
for movie in movies.find({'1': {'$in': [ re.compile('.*Anchorman.*'), re.compile('.*Legend.*')]}}):
    print movie

{u'1': u'Anchorman 2: The Legend Continues', u'0': u'2013', u'2': u'Mack Tannen', u'_id': ObjectId('580c804cce4eb04968b44715')}

In [104]:
# How many times has Harrison Ford played a doctor or a colonel?
print len([x for x in movies_df['role'] if ("Dr." in str(x)) | ("Colonel" in str(x))])

12

In [172]:
# Print the Harrison Ford movies with numbers in their titles
for movie in movies.find({'1': {'$regex' : '\d+'}}):
    print movie

{u'1': u'Force 10 from Navarone', u'0': u'1978', u'2': u'Lieutenant Colonel Mike Barnsby', u'_id': ObjectId('580c8047ce4eb04968b446eb')}
{u'1': u'K-19: The Widowmaker', u'0': u'2002', u'2': u'Alexei Vostrikov', u'_id': ObjectId('580c804ace4eb04968b44707')}
{u'1': u'42', u'0': u'2013', u'2': u'Branch Rickey', u'_id': ObjectId('580c804bce4eb04968b44712')}
{u'1': u'Anchorman 2: The Legend Continues', u'0': u'2013', u'2': u'Mack Tannen', u'_id': ObjectId('580c804cce4eb04968b44715')}
{u'1': u'The Expendables 3', u'0': u'2014', u'2': u'Max Drummer', u'_id': ObjectId('580c804cce4eb04968b44716')}
{u'1': u'Blade Runner 2049', u'0': u'2017', u'2': u'Rick Deckard', u'_id': ObjectId('580c804cce4eb04968b4471a')}

In [184]:
# Use mongodb to sum up Harrison Ford's roles
#Here's all the aggregate commands
#$sum,$avg,$min,$max,$push,$addToSet,$first,$last
for movie in movies.aggregate([{'$group': {'_id' : "$2", 'num_roles' : {'$sum' : 1}}},
                              { '$sort': { 'num_roles': -1, } },
                              { '$limit': 8}]):
    print movie

{u'num_roles': 4, u'_id': u'Dr. Henry "Indiana" Jones, Jr'}
{u'num_roles': 4, u'_id': u'Han Solo'}
{u'num_roles': 3, u'_id': u'Himself'}
{u'num_roles': 2, u'_id': u'Jack Ryan'}
{u'num_roles': 2, u'_id': u'Bob Falfa'}
{u'num_roles': 2, u'_id': u'Rick Deckard'}
{u'num_roles': 1, u'_id': u'Dr. Richard Walker'}
{u'num_roles': 1, u'_id': u'Jack Trainer'}

In [115]:
# Print the Harrison Ford roles without 'olo' in their name
for movie in movies.find({'2': {'$regex' : '^((?!olo).)*$'}})[:5]:
    print movie

{u'1': u'Dead Heat on a Merry-Go-Round', u'0': u'1966', u'2': u'Bellhop', u'_id': ObjectId('580c8045ce4eb04968b446e1')}
{u'1': u'Luv', u'0': u'1967', u'2': u'Irate Motorist', u'_id': ObjectId('580c8046ce4eb04968b446e2')}
{u'1': u'Time for Killing, AA Time for Killing', u'0': u'1967', u'2': u'Lt. Shaffer', u'_id': ObjectId('580c8046ce4eb04968b446e3')}
{u'1': u'Journey to Shiloh', u'0': u'1968', u'2': u'Willie Bill Bearden', u'_id': ObjectId('580c8046ce4eb04968b446e4')}
{u'1': u'Zabriskie Point', u'0': u'1970', u'2': u'Airport Worker', u'_id': ObjectId('580c8046ce4eb04968b446e5')}

## Open up the last table ff_table. What is this table telling us?

<img src="http://www.perfectinsider.com/wp-content/uploads/2015/10/Do-Fast-Food-Companies-Have-to-Take-Responsibility-for-the-Obesity-Epidemic.jpg" alt="Title" style="width:350px"/>

In [137]:
fastfood = db.ff_table
fastfood_df = pd.DataFrame([x for x in fastfood.find({})])
fastfood_df.columns = ['food','calories','gramsfat','id']
fastfood_df.drop('id',axis=1, inplace=True)
fastfood_df['calories'] = pd.to_numeric(fastfood_df['calories'], errors='coerce')
fastfood_df['gramsfat'] = pd.to_numeric(fastfood_df['gramsfat'], errors='coerce')
fastfood_df.head()

                                       food  calories  gramsfat
0                        Crispy Strips - 3        400      24.0
1                  Extra Crispy - 1 breast        460      28.0
2            Macaroni & Cheese - 1 serving        130       6.0
3   Mashed potatoes - 1 serving with gravy        120       5.0
4                 Original Recipe - Breast        380      19.0

## Which food names contain numbers?

In [156]:
for food in fastfood.find({'0': {'$regex' : '\d+'}})[:5]:
    print food

{u'1': u' 400 ', u'0': u' Crispy Strips - 3 ', u'2': u' 24 ', u'_id': ObjectId('580c8681ce4eb04968b4489a')}
{u'1': u' 460 ', u'0': u' Extra Crispy - 1 breast ', u'2': u' 28 ', u'_id': ObjectId('580c8681ce4eb04968b4489b')}
{u'1': u' 130 ', u'0': u' Macaroni & Cheese - 1 serving ', u'2': u' 6 ', u'_id': ObjectId('580c8681ce4eb04968b4489c')}
{u'1': u' 120 ', u'0': u' Mashed potatoes - 1 serving with gravy ', u'2': u' 5 ', u'_id': ObjectId('580c8681ce4eb04968b4489d')}
{u'1': u' 180 ', u'0': u' Chicken Tenders (4) ', u'2': u' 11 ', u'_id': ObjectId('580c8680ce4eb04968b4488f')}

### Use \$and or \$or to make multiple queries

In [157]:
for food in fastfood.find({'$or': [{'0': {'$regex' : '\d+'}}, {'0': {'$regex' : '(Original|Crispy)+'}}]}):
    print food

{u'1': u' 400 ', u'0': u' Crispy Strips - 3 ', u'2': u' 24 ', u'_id': ObjectId('580c8681ce4eb04968b4489a')}
{u'1': u' 460 ', u'0': u' Extra Crispy - 1 breast ', u'2': u' 28 ', u'_id': ObjectId('580c8681ce4eb04968b4489b')}
{u'1': u' 130 ', u'0': u' Macaroni & Cheese - 1 serving ', u'2': u' 6 ', u'_id': ObjectId('580c8681ce4eb04968b4489c')}
{u'1': u' 120 ', u'0': u' Mashed potatoes - 1 serving with gravy ', u'2': u' 5 ', u'_id': ObjectId('580c8681ce4eb04968b4489d')}
{u'1': u' 380 ', u'0': u' Original Recipe - Breast ', u'2': u' 19 ', u'_id': ObjectId('580c8681ce4eb04968b4489e')}
{u'1': u' 180 ', u'0': u' Chicken Tenders (4) ', u'2': u' 11 ', u'_id': ObjectId('580c8680ce4eb04968b4488f')}
{u'1': u' 116 ', u'0': u' Breadsticks - 1 ', u'2': u' 4.1 ', u'_id': ObjectId('580c8680ce4eb04968b44895')}
{u'1': u' 142 ', u'0': u' Cheesy Bread - 1 ', u'2': u' 6.2 ', u'_id': ObjectId('580c8680ce4eb04968b44896')}
{u'1': u' 273 ', u'0': u' Cheese Pizza - 2 Slices ', u'2': u' 11.8 ', u'_id': ObjectId('580c8680ce4eb04968b44897')}
{u'1': u' 448 ', u'0': u' Pepperoni - 2 slices ', u'2': u' 17.6 ', u'_id': ObjectId('580c8681ce4eb04968b44898')}
{u'1': u' 190 ', u'0': u' Biscuit - 1 ', u'2': u' 10 ', u'_id': ObjectId('580c8681ce4eb04968b44899')}

## Limit limits the amount of documents your query returns

In [159]:
for food in fastfood.find({'$or': [{'0': {'$regex' : '\d+'}}, {'0': {'$regex' : '(Original|Crispy)+'}}]}).limit(3):
    print food

{u'1': u' 400 ', u'0': u' Crispy Strips - 3 ', u'2': u' 24 ', u'_id': ObjectId('580c8681ce4eb04968b4489a')}
{u'1': u' 460 ', u'0': u' Extra Crispy - 1 breast ', u'2': u' 28 ', u'_id': ObjectId('580c8681ce4eb04968b4489b')}
{u'1': u' 130 ', u'0': u' Macaroni & Cheese - 1 serving ', u'2': u' 6 ', u'_id': ObjectId('580c8681ce4eb04968b4489c')}

## Sort sorts the results by -1 descending and 1 ascending

In [171]:
for food in fastfood.find({}).sort([("1", 1)]).limit(5):
    print food

{u'1': u' 116 ', u'0': u' Breadsticks - 1 ', u'2': u' 4.1 ', u'_id': ObjectId('580c8680ce4eb04968b44895')}
{u'1': u' 120 ', u'0': u' Mashed potatoes - 1 serving with gravy ', u'2': u' 5 ', u'_id': ObjectId('580c8681ce4eb04968b4489d')}
{u'1': u' 130 ', u'0': u' Macaroni & Cheese - 1 serving ', u'2': u' 6 ', u'_id': ObjectId('580c8681ce4eb04968b4489c')}
{u'1': u' 142 ', u'0': u' Cheesy Bread - 1 ', u'2': u' 6.2 ', u'_id': ObjectId('580c8680ce4eb04968b44896')}
{u'1': u' 180 ', u'0': u' Chicken Tenders (4) ', u'2': u' 11 ', u'_id': ObjectId('580c8680ce4eb04968b4488f')}

## Which foods contain the words 'Original' or 'Crispy'?

In [139]:
for food in fastfood.find({'0': {'$regex' : '(Original|Crispy)+'}}):
    print food

{u'1': u' 400 ', u'0': u' Crispy Strips - 3 ', u'2': u' 24 ', u'_id': ObjectId('580c8681ce4eb04968b4489a')}
{u'1': u' 460 ', u'0': u' Extra Crispy - 1 breast ', u'2': u' 28 ', u'_id': ObjectId('580c8681ce4eb04968b4489b')}
{u'1': u' 380 ', u'0': u' Original Recipe - Breast ', u'2': u' 19 ', u'_id': ObjectId('580c8681ce4eb04968b4489e')}

## What is the average gram and calorie count of the fast food menu items?

In [140]:
print "cal:", fastfood_df['calories'].mean()
print "fatgram:", fastfood_df['gramsfat'].mean()

cal: 373.96
fatgram: 21.268

## Which food had the highest calorie count?

In [142]:
print fastfood_df[fastfood_df['calories'] == max(fastfood_df['calories'])]

                            food  calories  gramsfat
17   Double Whopper with Cheese        850      50.0

## Which food had the lowest grams of fat?

In [144]:
print fastfood_df[fastfood_df['gramsfat'] == min(fastfood_df['gramsfat'])]

                 food  calories  gramsfat
20   Breadsticks - 1        116       4.1